<div class="modal fade" id="addSettingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add setting</h3>
            </div>
            <div class="modal-body">

                <!-- typeahead="profile for profile in profiles | filter:$viewValue | limitTo:8" -->

                <form class="form-horizontal" name="addSettingForm">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-6">
                            <input id="name" type="text" name="settingName" class="form-control"/>
                        </div>
                        <p class="help-block">Setting name required!</p>
                    </div>
                    <div class="form-group">
                        <label for="profile" class="col-sm-2 control-label">Profiles</label>
                        <div class="col-sm-6">
                            <input id="profile" type="text" name="settingProfile" class="form-control"/>
                            <select id="example-getting-started" multiple="multiple" name="settingProfile" class="form-control">
                                {% for profile in profiles %}
                                    <option value="{{ profile.name }}">{{ profile.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-6">
                            <input id="description" type="text" name="settingDescription" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">Type</label>
                        <div class="btn-group col-sm-8">
                            <label class="setting-type btn btn-default btn-primary" rel="setting-default-div">Default</label>
                            <label class="setting-type btn btn-default" rel="setting-boolean-div">Boolean</label>
                            <label class="setting-type btn btn-default" rel="setting-array-div">Array</label>
                            <label class="setting-type btn btn-default" rel="setting-object-div">Object</label>
                        </div>
                    </div>

                    <div>
                        <label for="value" class="col-sm-2 control-label">Settings</label>
                        <div class="col-sm-10">
                            <div class="setting-boolean-div hidden">
                                <div class="btn-group">
                                    <label class="setting-type-boolean btn btn-primary" rel="true">On</label>
                                    <label class="setting-type-boolean btn btn-default" rel="false">Off</label>
                                    <input type="checkbox" name="setting-boolean" class="hidden">
                                </div>
                            </div>

                            <div  class="setting-array-div hidden">
                                <ul id="array-values-list" class="list-unstyled" rel="0">
                                    <li>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="setting-array_0">
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger" type="button" onclick="addArrayRemoveInput(this)"><i class="glyphicon glyphicon-remove"></i></button>
                                        </span>
                                        </div>
                                    </li>
                                </ul>

                                <button class="settings-array-add pull-right btn btn-success"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>

                            <div  class="setting-object-div hidden">
                                <textarea id="yaml" class="form-control ng-isolate-scope" rows="12" cols="30" yml="settingService.setting.data.value"></textarea>
                            </div>

                            <div class="setting-default-div">
                                <input name="setting-default" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group no-margin-bottom">
                        <div class="col-sm-offset-2 col-sm-10">
                            <p class="alert alert-success no-margin-bottom hidden">Setting created successfully.</p>
                            <p class="alert alert-danger no-margin-bottom hidden"><strong>Creation failed</strong>. <span class="error-message"></span></p>
                        </div>
                    </div>

                    <div>
                        <p class="help-block">Setting value required!</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Add</button>
                        <button class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
